extends ./index
block content
  title Contact
  .container
    .row
      .col-sm-6.col-xs-12.col-sm-offset-3
        .main
           h2 Contact us!
           form#sign-up(name='sign-up', method='post', action='/contact.js')
              label your name :
              input#name(type='text', name='name', value='')
              |   
              label your email :
              input#email(type='email', name='email', placeholder='aaa@gmail.com')
              |   
              label your comment :
              textarea#textarea
              img#loading(src='loading.gif')
              button.button.btn.btn-primary.btn-lg.btn-block(type='submit')
               span Submit
              .message 
               p.message 
        |  



    
              
