nav.navbar.navbar-inverse
  .footer
    .container
      div
        ul.nav.navbar-nav.navbar-right
            li.facebook
              a(href='https://www.facebook.com/alexandra.borzunova', target='_blank')
                img(src='https://goo.gl/5tTduV', width='30')

            li.linkedin
              a(href='https://www.linkedin.com/pub/aleksandra-matiyev/b3/a52/b14', target='_blank')
                img(src='http://a2.mzstatic.com/us/r30/Purple7/v4/d0/57/24/d05724bd-0a78-6ce0-ff5e-0a8712373ecf/icon175x175.png', width='30')
            
                
            li.instagram
              a(href='https://instagram.com', target='_blank')
                img(src='https://goo.gl/WKu6UN', width='30')
