nav.navbar.navbar-default
  .header
    .container
      .navbar-header
        a.navbar-brand(href='#') MYSITE
      div
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') Home 
          li
            a(href="/team") Team
          li
            a(href="/contact") Contact
          li
            a(href='#') About
