extends ./index
block content
  title Team
  .row
    h2 MYSITE
  .row
    .text-center
      p
      | Welcome to my site
  .row
    .col-md-6#welcomeHero
      #slideshow-main
          ul
            li.p1.active
              a(href='#')
                img.img-responsive(src='kisa.jpg', alt='')
                |                     
                span.opacity
                |                     
                span.content
                  h1 KISA
                  p Chief Executive Officer
            |             
            li.p2
              a(href='#')
                img.img-responsive(src='pasha.jpg', alt='')
                |                     
                span.opacity
                |                     
                span.content
                  h1 PASHA
                  p Space open minder
            |             
            li.p3
              a(href='#')
                img.img-responsive(src='yan.jpg', alt='')
                |                     
                span.opacity
                |                     
                span.content
                  h1 YANCHIK
                  p everything doing
            |           
            li.p4
              a(href='#')
                img.img-responsive(src='vitalik.jpg', alt='')
                |                     
                span.opacity
                |                     
                span.content
                  h1 VITALIK
                  p guardian of mysite
            |                                  
        .col-md-4#slideshow-carousel
          ul#carousel.jcarousel.jcarousel-skin-tango
            li
              a(href='#', rel='p1')
                img.img-responsive(src='kisa.jpg', alt='#')
            |             
            li
              a(href='#', rel='p2')
                img.img-responsive(src='pasha.jpg', alt='#')
            |             
            li
              a(href='#', rel='p3')
                img.img-responsive(src='yan.jpg', alt='#')
            |             
            li
              a(href='#', rel='p4')
                img.img-responsive(src='vitalik.jpg', alt='#')             
        .clear
  .row
    .col-md-8
      .description
        #kisa.content
          p 
            |Before co-founding 
            span mysite
            |, Kisa was just a cat i our home. Yanchik bring her, feed well and look after her, but in time she became big boss. Now she is powerful cat and everything depends on her. She controll everithing and everyone.
        #pasha.content
          p Pasha has a space mind and creative thoughts, he alwas has new idea and we try to realize it in our work. He has rigth to space open mind and sometime we couldn't understand him. 
        #yan.content
          p 
            |Prior to be in our small family 
            span mysite
            |, Yan did a lot of staff, but everything changed when he brought Kisa.He have to look after he, and in return Kisa bite him a lot, but he likes it. He take all bites from kisa and safe our lives.
        #vitalik.content
          p Vitalik is our guardiance. He send Kisa to the space when she thinks she is the one. Kisa doen't like it but it is reality. Kisa doesn't like him in return) and if there is no Yanchik, kisa bite him too.




             